<!DOCTYPE html>
<html lang="ua">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Master Zoo</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
	<div class="wrapper">
		<%- include('../../partials/header.ejs') %>
			<main class="page">
				<section class="page__add-product add-product">
					<div class="add-product__container">
						<h2 class="add-product__title">Додати товар</h2>
						<form class="form" action="/products<%= product.id ? '/' + product.id : '' %>" method="post"
							enctype="multipart/form-data">
							<div class="form__item">
								<label for="article" class="form__label">Артикул:</label>
								<input class="form__input" id="article" type="number" name="article"
									value="<%= product ? product.article : '' %>">

								<div <%=errors ? 'style= display:block;' : '' %> class="error-block">
									<% if (errors.article) { %>
										<% errors.article.forEach(error=> { %>
											<span>
												<%= error %>
											</span>
											<% }) %>
												<% } %>
								</div>
							</div>
							<div class="form__item">
								<label for="title" class="form__label">Назва товару:</label>
								<input class="form__input" id="title" type="text" name="title"
									value="<%= product ? product.title : '' %>">

								<div <%=errors ? 'style= display:block;' : '' %> class="error-block">
									<% if (errors.title) { %>
										<% errors.title.forEach(error=> { %>
											<span>
												<%= error %>
											</span>
											<% }) %>
												<% } %>
								</div>
							</div>
							<div class="form__item">
								<label for="price" class="form__label">Ціна товару:</label>
								<input class="form__input" id="price" type="number" name="price"
									value="<%= product ? product.price : '' %>">

								<div <%=errors ? 'style= display:block;' : '' %> class="error-block">
									<% if (errors.price) { %>
										<% errors.price.forEach(error=> { %>
											<span>
												<%= error %>
											</span>
											<% }) %>
												<% } %>
								</div>
							</div>
							<div class="form__item">
								<label for="description" class="form__label">Опис товару:</label>
								<textarea class="form__textarea" id="description"
									name="description"><%= product ? product.description : '' %></textarea>

								<div <%=errors ? 'style= display:block;' : '' %> class="error-block">
									<% if (errors.description) { %>
										<% errors.description.forEach(error=> { %>
											<span>
												<%= error %>
											</span>
											<% }) %>
												<% } %>
								</div>
							</div>
							<div class="image-upload" id="uploadArea">
								<span <%=product.id ? 'style = display:none' : '' %> >Click or Drag to Upload
									Image</span>
								<img id="previewImage" src="<%= product ? product.imgPath : '' %>"
									alt="<%= product.id ? product.title : 'Load the image' %>" <%=product.id
									? 'style = display:block' : '' %>
								>
								<input id="fileInput" type="file" name="productImg" accept="image/*" />

								<div <%=errors ? 'style= display:block;' : '' %> class="error-block">
									<% if (errors.productImg) { %>
										<% errors.productImg.forEach(error=> { %>
											<span>
												<%= error %>
											</span>
											<% }) %>
												<% } %>
								</div>
							</div>

							<button class="button">
								<%= product.id ? 'Редагувати товар' : 'Додати товар' %>
							</button>
						</form>
					</div>
				</section>
			</main>
			<%- include('../../partials/footer.ejs') %>
	</div>

	<script src="/javascripts/RequestManager.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			RequestManager.handleFileSelect('#uploadArea', '#previewImage', '#fileInput');
		});
	</script>
</body>

</html>